@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

input {
  display: none;
  visibility: hidden;
}
label {
  display: block;
  padding: 0.5em;
  text-align: center;
  color: #666;
}
label:hover {
  color: #000;
}
label::before {
  font-family: Consolas, monaco, monospace;
  font-weight: bold;
  font-size: 15px;
  content: "+";
  vertical-align: text-top;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%);
}
#expand {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
}
#toggle:checked ~ #expand {
  height: auto;
}
#toggle:checked ~ label::before {
  content: "-";
}
#expand2 {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
}
#toggle2:checked ~ #expand2 {
  height: auto;
}
#toggle2:checked ~ label::before {
  content: "-";
}
#expand3 {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
}
#toggle3:checked ~ #expand3 {
  height: auto;
}
#toggle3:checked ~ label::before {
  content: "-";
}
