.navbar {
  border:0;
  margin-bottom:0;
}
.navbar-nav > li > a {
  padding-top:15px !important;
  padding-bottom:15px !important;
}
.navbar-default {
  background-color: #4d8ef7;
  border-color: #669aff;
}
.navbar-default .navbar-brand {
  color: #97cffb;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fdfdfd;
}
.navbar-default .navbar-text {
  color: #97cffb;
}
.navbar-default .navbar-nav > li > a {
  color: #97cffb;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fdfdfd;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #4d8ef7;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #97cffb;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #fdfdfd;
  background-color: #669aff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #669aff;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fdfdfd;
  background-color: #669aff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fdfdfd;
  background-color: #669aff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fdfdfd;
  background-color: #669aff;
}
.navbar-default .navbar-toggle {
  border-color: #669aff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #669aff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #97cffb;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #97cffb;
}
.navbar-default .navbar-link {
  color: #97cffb;
}
.navbar-default .navbar-link:hover {
  color: #fdfdfd;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #97cffb;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fdfdfd;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fdfdfd;
    background-color: #669aff;
  }
}
h2, h3 {
  color:#4d8ef7 !important;
}
.animnum {
  color: #4d8ef7;
  font-weight: bold;
  display: block;
  text-align: middle;
}
.animtext {
  /* color:#4d8ef7; */
  display: block;
  margin-top: 15px;
}
.bigtext {
  color: #4d8ef7;
  display: block;
  font-weight: bold;
}
.svccont {
  box-shadow: 5px 5px 1px #888888;
  border: 1;
}
.panel-fixed {
  min-height: 300px;
  max-height: 300px;
}
.panel-pricing {
  min-height: 310px;
  max-height: 310px;
}
.box-shadow {
	-webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.52);
	-moz-box-shadow:    0px 5px 10px 0px rgba(50, 50, 50, 0.52);
	box-shadow:         0px 5px 10px 0px rgba(50, 50, 50, 0.52)
}
.panel-default > .panel-heading {
  /* color: white; */
  /* background-color: #4d8ef7; */
  /* border-color: #4d8ef7; */
}
/***** Modal *****/

.modal-backdrop.in {
    filter: alpha(opacity=7);
    opacity: 0.7;
}

.modal-content {
    background: none;
    border: 0;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.modal-body {
    padding: 0 25px 25px 25px;
}

.modal-header {
    padding: 25px 25px 15px 25px;
    text-align: right;
}

.modal-header, .modal-footer {
    border: 0;
}

.modal-header .close {
    float: none;
    margin: 0;
    font-size: 36px;
    color: #fff;
    font-weight: 300;
    text-shadow: none;
    opacity: 1;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.tshadow {
  text-shadow: 1px 1px #1f3d7a
}

.bgcolor1 {
  background-color: #e0ebeb;
}

.bgcolor2 {
  background-color: #d6e0f5;
}

.lilmargin {
  margin-top: -5px;
}
